* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

html, body {
  height: 100%;
  width: 100%;}

main {
  height: 100%;
  width: 100%;
  display: flex;}

#left {
  width: 21%;
  height: 100vh;
  border-width: 1px;
  opacity: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  padding-bottom: 40px;}

#left-top {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  padding: 10px;}

#box {
  width: 16vw;
  height: 8.5vh;
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  padding-left: 10px;
  border-radius: 6px;}

#box-left{
  display: flex;
  gap: 10px;
  align-items: center;}

#jessica-info h4 {
  font: 16px;
  font-weight: 600;
  color: #2a2a2a;}

#jessica-info h5 {
  font: 12px;
  font-weight: 400;
  color: #626d82;}

#main-nav {
  display: flex;
  flex-direction: column;
  row-gap: 30px;}

#navbar5 {
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding-left: 10px;
cursor: pointer;}

#navbar5 a{
   display: flex;
  align-items: center;             
  padding: 10px 12px;
  flex-direction: row;
  gap: 10px;
  size: 16px;
  font-weight: 400;
  color: #525865;
  text-decoration: none;
  font-weight: 400;            
  font-size: 16px;
  line-height: 140%;
  border-radius: 6px;}

#navbar5 :nth-child(2){
  height: 6vh;
  width: 15.5vw;
  display: flex;
  background-color: #d3f7b5;
  border-radius: 6px;
  padding-left: 10px;
  align-items: center;}

#navbar5 h2 {
  font-size: 16px;
  font-weight: 400;}

#navbar5 img {
  height: 3vh;
  width: 3vh;}

#left-bottom {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding-left: 20px;}

#left-bottom img {
  width: 33px;
  height: 33px;}

#contact-text {
  display: flex;
  flex-direction: column;
  gap: 6px;}

#left-bottom h2 {
  font-size: 18px;
  font-weight: 600;}

#left-bottom h3 {
  font-size: 12px;
  font-weight: 300;}

#left-bottom #btn {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  background-color: #1f4451;
  border-radius: 3px;
  color: white;
  border: none;}

#right {
  background-color: #ebebeb;
  height: 100%;
  width: 79%;
  display: flex;
  flex-direction: column;}

#right-top {
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  padding-left: 60px;}

#right-top img {
  height: 9.99px;
  width: 6px;
  color: #d1d5db;}

#right-top h4 {
  font-size: 16px;
  font-weight: 400;
  color: #436d7c;}

#right-top h5 {
  font-size: 16px;
  font-weight: 400;
  color: #b5bdcd;}

#right-middle {
  width: 100%;
  height: 8%;
  width: 100%;
  display: flex;
  padding-left: 60px;
  padding-right: 40px;
  align-items: center;
  justify-content: space-between;
  flex-shrink: none;}

#right-middle #doc{
  width: 50%;}

#right-middle .addDeleteDocument{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 20%;}

.addDeleteDocument #multiDelete,#add{
  height: 4vh;
  width: 8vh;
  border: 1px solid #585a5d;
  border-radius: 6px;
  background-color: #ffffff;
  font-size: 14px;
  color: #878b94;}

#right-middle #search{
  width: 30%;
  display: flex;
  justify-content: right;
  padding-right: 0%;
  align-items: center;}

#right-middle form{
  display: flex;
  align-items: center;
  justify-content: right;}

#right-middle #search button{
  position: relative;
  right: 40px;
  top: 4px;
  border-radius: 100%;
  border: none;}

#right-middle input {
  height: 40px;
  width: 280px;
  color: #b5bdcd;
  font-size: 16px;
  padding-left: 10px;}

#right-middle form button {
  width: 25px;
  height: 25px;
  right: -25px;
  position: absolute;
  background: transparent;
  outline: none;}

#doc h2 {
  font-size: 33px;
  font-weight: 600;
  color: #2a2a2a;}

#right-bottom {
  height: 84%;
  background-color: #ebebeb;
  padding: 60px;}

.content-table {
  border-collapse: collapse;
  width: 100%;}

#table-div {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid white;}

table button{
  border: none;}

.btn5{
  padding: 2px 4px;
  height: 34px;
  width: 143px;
  border-radius: 5px;
  color: #626D82;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #B5BDCD;}

.status-needsSigning{
  width: fit-content;
  justify-self: center;
  background-color: #436d7c;
  padding: 4px 6px;
  border-radius: 22px;
  color: #ffffff;
  font-weight: 500;
  font-size: 15 px;}

.status-completed{
  width: fit-content;
  justify-self: center;
  background-color: #D3F7B5;
  padding: 4px 6px;
  border-radius: 22px;
  color: #1F4451;
  font-weight: 500;
  font-size: 15px;}

.status-pending{
  width: fit-content;
  justify-self: center;
  background-color: #e8ecf1;
  padding: 4px 6px;
  border-radius: 22px;
  color: #626D82;
  font-weight: 500;
  font-size: 15px;}

table, th, td {
  border-bottom: 1px solid #e8ecf1;}

table{
  background-color: #ffffff;
}

th, td {
  padding: 10px;}

.tableDocTitle1 {
  font-size: 16px;
  color: #436d7c;
  font-weight: 600;}

table tr select{
  border-radius: 1vh;
  color: #1F4451;
  font-size: 12px;}

td h3 {
  font-size: 16px;
  font-weight: 500;
  color: #626d82;
  padding-left: 20px;}

td {
  text-align: center;}

.blue-text{
  color: #436d7c;}

.white-text{
  color: #b5bdcd;}

.formBox{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;  
  background: transparent;
  backdrop-filter: blur(1px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transform: scale(0);
  transition: transform .5 ease, height .2s ease;}

.formBox.active-popup{
  transform: scale(1);}

.addForm{
  width: 420px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid #2a2a2a;
  background-color: #ffffff;
  border-radius: 6px;}

.addForm{
  color: #1F4451;}

.addForm form{
  display: flex;
  flex-direction: column;
  gap: 20px;}

.addCancel{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 2vh;}

.addCancel button{
  height: 4vh;
  width: 8vh;
  border: 1px solid #1F4451;
  background-color: white;
  border-radius: 6px;}

#addCancelForm .input1{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;}

#addCancelForm .input1 input,#addCancelForm .input1 select{
  height: 5vh;}

  .dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.menubtn1{
  height: 24px;
  width: 22px;
  padding: 4px;
  border-radius: 4px;
}

.imgInTable{
  width: 15px;
  height: 18px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
